/* @import "font-awesome/scss/_variables.scss";
@import "font-awesome/scss/_path.scss"; */

@font-face {
  font-family: 'FontAwesome';
  src: url('~/node_modules/font-awesome/css/fontawesome-webfont.woff') format('woff')
    url('~/node_modules/font-awesome/css/fontawesome-webfont.woff2') format('woff2');
}

html, body {
  padding: 0;
  margin: 0;
  font-family: sans;
  color: #333;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

#app {
  a {
    color: #222;
    text-decoration: none;
  }

  a:hover {
    color: #000;
    text-decoration: underline;
  }

  .siteHeader {
    padding: 20px 2vw;
    background: #333;
    color: #fff;

    h1 {
      margin: 10px 0;
    }

    nav {
      margin: 0 2vw;

      ul {
        margin: 0;
      }

      li {
        display: inline-block;

        a {
          padding: 5px 10px;
          display: inline-block;
          color: #ddd;
        }

        a:hover {
          background: #333;
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }

  .sidebar {
    .bar {
      position: fixed;
      top: 0;
      right: 0;
      padding: 10px;
      max-height: 100%;
      box-sizing: border-box;
      overflow-y: auto;
      overflow-x: hidden;
      background: rgba(255, 255, 255, 0);
    }

    .toggle {
      float: right;
      background: rgba(255, 255, 255, 0.6);
      border: none;
      padding: 4px 8px;
    }

    .toggle::before {
      font-family: 'FontAwesome';
      content: "\f0c9";
    }

    .contents {
      display: none;
      padding: 20px;

      > nav, > ul {
        margin-left: 20px;
      }
    }

    .cover {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      background: rgba(255, 255, 255, 0);
    }


    &.expanded {
      .cover {
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.8);
      }

      .bar {
        background: rgba(255, 255, 255, 1);
      }

      .contents {
        display: block;
        max-width: 400px;
        width: 100%;
      }
    }
  }

  nav ul, ul.tagCloud, ul.posts, ul.categories {
    list-style-type: none;
    padding: 0;
  }

  ul.tagCloud li {
    display: inline-block;
    margin: 0 5px 0 0;
  }

  > div > main {
    time {
      font-size: 0.8em;
    }

    p {
      padding: 0 4vw;
    }

    pre, ul, ol {
      margin: 0 5vw;
    }

    ul.posts.full {
      margin: 0 0 4vh 0;

      li {
        padding: 2vh 2vw;
        margin: 1vh 0;
        background: #eee;

        h1 {
          margin: 5px 0;

          a {
            display: block;
          }
        }

        time {
          display: block;
          text-align: right;
        }
      }
    }

    .tags, .categories {
      font-size: 0.8em;
      margin: 0 1vw;
      color: #999;

      &::before {
        font-family: 'FontAwesome';
      }

      a {
        display: inline-block;
        margin: 0 5px;
        color: #555;
      }
    }

    .tags::before {
      content: "\f02c" // $fa-var-tags
    }

    .categories::before {
      content: "\f115" // $fa-var-folder-open-o
    }

    section.postList {
      > h1 {
        padding: 0 1vw;
      }
    }

    article {

      &.page {
        padding: 5vh 0;
      }

      h1, h2, h3, h4 {
        padding: 0 3vw;
      }

      header, footer {
        background: #ddd;
        padding: 5vh 2vw;
      }

      header {
        margin-bottom: 30px;

        time {
          padding: 0 5vw;
          display: block;
          text-align: right;
        }

        h1 {
          padding: 0;
          margin: 0;
        }
      }

      .documentBody {
        margin-bottom: 5vh;
      }

      footer {
        color: #999;
        margin-top: 30px;

        nav {
          margin-top: 5vh;

          a {
            display: inline-block;
            width: 50%;
            color: #444;

            &.nextPost {
              text-align: right;

              &::after {
                font-family: 'FontAwesome';
                content: '\f054'; // $fa-chevron-right
                margin-left: 10px;
              }
            }

            &.previousPost {
              &::before {
                font-family: 'FontAwesome';
                content: '\f053'; // $fa-chevron-left
                margin-right: 10px;
              }
            }

            &:hover {
              text-decoration: none;
              color: #000;
            }
          }
        }
      }
    }
  }

  > div > footer {
    background: #333;
    color: #ddd;
    padding: 5vh 2vw;
    font-size: 0.8em;
    text-align: right;

    a {
      color: #eee;

      &:hover {
        color: #fff;
      }
    }
  }
}
